<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baomidou.mybatisplus.test.rewrite.EntityMapper">

    <select id="selectById" resultType="com.baomidou.mybatisplus.test.rewrite.Entity">
        select id
        from entity
        where id = #{id}
    </select>
</mapper>
