<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <!--先定义所有的appender-->
    <Appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--这个都知道是输出日志的格式  线程信息:[%t]-->
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %level %class %L %M - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--根logger-->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</configuration>