<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.velocity.mapper.SimpleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baomidou.velocity.entity.Simple">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="deleted" property="deleted" />
        <result column="is_ok" property="isOk" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
