<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.test.mapper.TUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.test.entity.TUser">
		<id column="userId" property="userid" />
		<result column="userName" property="username" />
		<result column="age" property="age" />
	</resultMap>

</mapper>
